﻿<div class="col-xs-offset-2 col-xs-8 col-xs-offset-2" data-ng-controller="categoriesController">
    <ul class="list-group">
        <li class="list-group-item" data-ng-repeat="category in categories">#{{ category.categoryId }} - {{ category.value }}</li>
    </ul>
</div>